<html>
    <!DOCTYPE html>
    <html lang="en">
        <head>

            <nav class="navbar navbar-expand-sm " style="background-image: url('/assets/images/photo3.jpg') ; ">
               </></br></br></br></br></br></br></br></br></br></br></br>
            <title>Bootstrap Example</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


        </head>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"> Mobile Shop </a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Menu</a></li>
                    <li><a href="#"> Promotion </a></li>
                    <li><a href="#"> news </a></li>
                    <li><a href="#"> contact </a></li>
                </ul>
            </div>
        </nav>
    </html>


</html>

